@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
main {
  height: 100%;
}

main {
  padding-top: 3.5em;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  color: theme("colors.catBlack");
  background: theme("colors.catBeige");
}

#home {
  background-image: url("images/splash.jpg");
  background-size: cover;
}

#new-board-button {
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  caret-color: transparent;
}

#new-board-button::after {
  /* background-color: #3b82f6; */
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

/* #new-board-button:hover::after {
  transform: translate(0, 0);
} */

#new-board-button:hover {
  transform: scale(1.05);
}

.board-list-item-menu {
  top: 0px;
  left: 256px;
  z-index: 99;
}

.board-list-item:hover .more-options-button {
  color: black;
}
