.Boards .btn-delete {
  border-radius: 40px;
  border: none;
  float: right;
  z-index: 9000;
  border: 1px solid black;
}

.Boards .btn-delete:hover {
  cursor: pointer;
  background: rgb(245, 75, 75);
}

.ViewBoard .board-header {
  text-align: center;
}

.ViewBoard .spinner {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.ViewBoard .lists {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
  padding-top: 10px;
  height: 100%;
}

.ViewBoard .list {
  background: #0b6fdf;
  width: 250px;
  min-width: 250px;
  margin: 4px;
  padding: 5px;
  border-radius: 5px;
}

.ViewBoard .list-header {
  position: relative;
  text-align: center;
  color: white;
}

.ViewBoard .list-header h5 {
  margin-right: 10px;
}

.ViewBoard .list-header .btn-delete {
}

.ViewBoard .tasks {
  padding: 14px 0px;
  background: #328df5;
  border-radius: 5px;
}

.ViewBoard .Task {
  background: white;
  padding: 7px;
  padding-right: 12px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.ViewBoard .Task:hover {
  background: #ddd;
}

.BackButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
}

.BackButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ViewBoard .NewTask {
}

.ViewBoard .NewTask textarea {
  min-height: 100px;
}

.ViewBoard .btn-delete {
  position: absolute;
  right: -11px;
  top: -9px;
  border: 1px solid #328df5;
  border-radius: 20px;
  background: white;
}

.ViewBoard .btn-delete:hover {
  cursor: pointer;
  background: rgb(245, 75, 75);
  border: 1px solid rgb(245, 75, 75);
}

.Task .btn-delete {
  display: none;
  left: 210px;
  background: none;
  border: none;
  color: #aaa;
}

.Task:hover .btn-delete {
  display: block;
}

.Task .btn-delete:hover {
  cursor: pointer;
  background: none;
  border: none;
}

/**************/

.ListName {
  clear: both;
}

.ListName form {
  position: relative;
  left: -12px;
  padding: 0px 2px;
  margin: 0px;
}

.ListName h5 {
  overflow-wrap: break-word;
  position: relative;
  top: 1px;
  padding: 2px 0px;
  text-align: left;
}

.ListName form textarea {
  resize: none;
  overflow-wrap: break-word;
  padding: 0px;
  margin: 0px;
  text-align: left;
  border: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 7px;
}
