.ViewBoard .lists {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
}

.ViewBoard .list {
  background: #0b6fdf;
  width: 250px;
  min-width: 250px;
  margin: 4px;
  padding: 5px;
  border-radius: 5px;
}

.ViewBoard .list-header {
  text-align: center;
  color: white;
}

.ViewBoard .tasks {
  min-height: 100px;
  padding: 14px 0px;
  background: #328df5;
  border-radius: 5px;
}

.ViewBoard .task {
  background: white;
  padding: 7px;
  margin-bottom: 10px;
}

.ViewBoard .task:hover {
  background: #ddd;
}

.ViewBoard .NewTask {
}

.ViewBoard .NewTask textarea {
  min-height: 100px;
}
