.ViewBoard .lists {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ViewBoard .list {
  background: #0b6fdf;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.ViewBoard .list-header {
  text-align: center;
  color: white;
}

.ViewBoard .tasks {
  padding: 14px 0px;
  background: #328df5;
  border-radius: 5px;
}

.ViewBoard .task {
  border: 1px solid grey;
  background: white;
  padding: 7px;
  margin-bottom: 10px;
}

.ViewBoard .NewBoard {
  background: #99ccff;
}

.ViewBoard .NewBoard form input {
  text-align: center;
}
