.LoginJumbo {
  background: url('./splash.jpg') no-repeat 0px 100% / cover transparent;
  height: 100vh;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 600px;
  height: 100%;
  margin: auto auto;
}

.splash .brand-title {
  margin-bottom: 80px;
}

.title {
  position: relative;
  padding: 3px 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.845);
  text-align: center;
  display: inline-block;
  width: auto;
}

h1.title {
  font-size: 10em;
}

h3.title {
  font-size: 2em;
}

.Boards .btn-delete {
  border-radius: 40px;
  border: none;
  float: right;
  z-index: 9000;
  border: 1px solid black;
}

.Boards .btn-delete:hover {
  cursor: pointer;
  background: rgb(245, 75, 75);
}

.ViewBoard .board-header {
  text-align: center;
}

.ViewBoard .spinner {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.ViewBoard .lists {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
  padding-top: 10px;
  height: 100%;
}

.ViewBoard .list {
  background: #0b6fdf;
  width: 250px;
  min-width: 250px;
  margin: 4px;
  padding: 5px;
  border-radius: 5px;
}

.ViewBoard .list-header {
  position: relative;
  text-align: center;
  color: white;
}

.ViewBoard .list-header h5 {
  margin-right: 10px;
}

.ViewBoard .list-header .btn-delete {
}

.ViewBoard .tasks {
  padding: 14px 0px;
  background: #328df5;
  border-radius: 5px;
}

.BackButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
}

.BackButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ViewBoard .NewTask {
}

.ViewBoard .NewTask textarea {
  min-height: 100px;
}

.ViewBoard .btn-delete {
  position: absolute;
  right: -11px;
  top: -9px;
  border: 1px solid #328df5;
  border-radius: 20px;
  background: white;
}

.ViewBoard .btn-delete:hover {
  cursor: pointer;
  background: rgb(245, 75, 75);
  border: 1px solid rgb(245, 75, 75);
}

/**************/

.EditableLabel {
  clear: both;
}

.EditableLabel form {
  position: relative;
  left: -5px;
  padding: 0px 2px;
  margin: 0px;
}

.Task .EditableLabel form {
  left: -2px;
  margin-bottom: 10px;
}

.EditableLabel h5 {
  overflow-wrap: break-word;
  position: relative;
  top: 1px;
  padding: 2px 0px;
  text-align: center;
}

.EditableLabel form textarea {
  resize: none;
  overflow-wrap: break-word;
  padding: 0px;
  margin: 0px;
  border: none;
  text-align: center;
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 7px;
}

.Task .EditableLabel form textarea {
  left: 0px;
  width: 100%;
  text-align: left;
  font-size: initial;
  font-weight: initial;
}

/* DROPDOWN*/

.DropDown {
  position: absolute;
  right: -2px;
  top: 0px;
  border: 1px solid #328df5;
  border-radius: 20px;
  background: white;
}

.DropDown .toggleButton {
  background: none;
  border: none;
}

.DropDown .toggleButton:hover {
  cursor: pointer;
}

.Task .DropDown {
  left: 210px;
  background: none;
  border: none;
  color: #aaa;
}

.Task:hover .DropDown {
  display: block;
}

.Task .DropDown:hover {
  cursor: pointer;
  background: none;
  border: none;
}

/* TASK TAG COLORS*/

.ViewBoard .Task {
  background: white;
  border-left: 7px solid rgba(0, 0, 0, 0);
  padding: 14px 15px 1px 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.ViewBoard .Task:hover {
  background: #ddd;
}

.Task.green {
  border-color: rgb(128, 227, 66);
}

.Task.red {
  border-color: rgb(205, 36, 24);
}

.Task.blue {
  border-color: rgb(95, 212, 255);
}

.Task.purple {
  border-color: rgb(162, 68, 162);
}
